table{
    border: 5px solid  blue;
    text-align: center;
    font-size: 30px;
    width: 120%;
    color: white;
}
body{
    background-image: url("wp1.jpg");
    background-size: cover;
    background-attachment: fixed;
}